@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
header {
    color: black;
    background-color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;

}



body {
    margin: 0;
    font-family: 'Source Code Pro';
    background-color: white;
}

#icon {
    border-radius: 100%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
}



.scramble {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10em,1.2em;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.external-links img {
    height: 120px;
    top: 330px;
    text-align: center;
    text-decoration-color: cornsilk;
}

.external-links h3 {
    text-align: center;
    color: black;  
    position: relative;  
    bottom: 15px;
    font-size: 150%;
    border-style: solid;
    border-color: gray;
    border-left: 6px solid rgb(163, 163, 245);
    background-color: lightgrey;
    border-width: 5px;
    border-radius: 10px;
    margin-right: 65px;
    margin-left: 65px;
    padding-bottom: 3px;

}
.external-links {
    text-align: center;
    padding-top: 2em;
}

.rect {
    height: 100%;
    width: 370px;
    background: rgba(196, 196, 196, 100);;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding-top: 2em;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px rgba(204, 204, 204, 0.486);
    -khtml-box-shadow: 10px 10px 5px #ccc;
    


}





 
